@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}

/*gioithieu*/
.tieude {
	margin-top : 100px;
}

.BST {
	background-color:#000000;
}

.tieude {
	color:#FFFFFF;
}

.BSTHOT {
	color:#FFFFFF;
}

.btn-group{
	padding-left: 500px;
}
.icon {
	padding-top: 5px;
}

.footer {
	background-color: #F6F6F6;
}

.oday h5{
	padding-left: 20px;
}

.oday {
	padding-right: 1500px;
}

.logo1  {
	margin-top:30px;
	padding-left: 600px;
}
.social {
	margin-top:30px;
}

.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
